/* Home page specific styles */
body {
    background-color: #f9f9f9;
}

header {
    text-align: center;
    padding: 30px;
}

.home {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
